extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Ashley Rapone
        p Full Stack Developer
        .about-bio
          p I have been working as a cloud engineer for 3 years specializing in building and maintaining infrastructure via automation. I also practice full stack development and am currenlty working towards the Full Stack JavaScript techdegree at Treehouse.
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
        h6 Contact Info
        ul
          li 555-555-1234
          li myemail@email.com
        a.btn-link(href='https://www.linkedin.com/in/ashley-rapone-29511ba3/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/AshleyRapone' target="_blank") GitHub
        a.btn-link(href='https://medium.com/@ashleylynnrapone' target="_blank") Medium
    nav.nav
      a(href='/')
        span &larr;
        |  Back